<div class="report">
  <span>Reports Viewer</span>
</div>

<dx-tab-panel
  width="100%"
  [height]="418"
  [animationEnabled]="true"
  [swipeEnabled]="true"
  tabsPosition="right"
  stylingMode="secondary"
  iconPosition="start">

  <dxi-item icon="folder" title="Folder View">
    <dx-tree-view 
      [items]="dataList"
      [searchEnabled]="true" 
      searchMode="contains">
      <div *dxTemplate="let item of 'item'">
        <i class="dx-icon dx-icon-folder"></i>
        {{ item.ReportName }}
      </div>
    </dx-tree-view>
  </dxi-item>

  <dxi-item icon="description" title="List View">
    <dx-list 
      [items]="dataList"
      [searchEnabled]="true"
      [height]="500">
      <div *dxTemplate="let data of 'item'">
        <div>{{ data.FileName }}</div>
      </div>
    </dx-list>
  </dxi-item>
</dx-tab-panel>
