<dx-toolbar [items]="headertoolbar" id="header-toolbar" class="header-toolbar"></dx-toolbar>

<dx-sortable
  dataSource="cards"
  draggingEnabled="true"
  [allowReordering]="true"
  (onReorder)="onReorderCard($event)"
  class="card-container"
>
  <ng-container *ngFor="let card of cards">
    <dx-resizable
      [minHeight]="200" 
      [minWidth]="200"
      [handles]="'right bottom'"
      [width]="card.width"
      (onResizeEnd)="onCardResize($event, card)"
      class="resizable-wrapper"
    >
      <div class="dx-card dx-theme-background-color dx-theme-text-color dx-theme-border-color" style="margin: 10px;">
        <div class="dx-card-header dx-theme-border-color">
          <div class="dx-card-title">control {{ card.id }}</div>
          <div class="dx-card-actions">
            <dx-button icon="preferences" stylingMode="text"></dx-button>
            <dx-button icon="trash" stylingMode="text"></dx-button>
          </div>
        </div>

        <div class="dx-card-body">
          <dx-data-grid
            [dataSource]="[]"
            [showBorders]="true"
            [columns]="[]"
            [columnAutoWidth]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [pager]="{ showPageSizeSelector: false, showInfo: true, visible: true }"
            [searchPanel]="{ visible: true, highlightCaseSensitive: true }"
            [export]="{ enabled: true }"
          ></dx-data-grid>
        </div>
      </div>
    </dx-resizable>
  </ng-container>
</dx-sortable>