.custom-uploader {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.custom-file-upload {
  display: inline-block;
  width: 250px;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-weight: 500;
  user-select: none; 
}

.custom-file-upload input[type="file"] {
  display: none;
}

.image-preview {
  margin-top: 10px;
  max-width: 200px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-preview img {
  max-width: 200px;
  max-height: 150px;
  padding: 5px;
  display: block;
}

.sett {
  text-align: end;
}

.grid-wrapper span, .dx-tabpanel, .grid-container {
  margin-top: 20px;
}
