* {
  box-sizing: border-box;
}

.login-wrapper {
  background: url('../../assets/download.jpg') no-repeat center center / cover;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: #30303097;
  padding: 40px;
  width: 450px;
  color: #fff;
  border-radius: 5px;
}

.login-box .login-header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.login-box h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin-bottom: 16px;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.login-box .signIn-button {
  padding: 14px;
  background: var(--dx-color-primary);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.toggle-eye {
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  cursor: pointer;
  padding: 0;
}