<dx-toolbar [items]="headertoolbar" id="header-toolbar" class="header-toolbar"></dx-toolbar>

<div
  class="dx-card dx-theme-background-color dx-theme-text-color dx-theme-border-color resizable-card"
  *ngFor="let card of cards"
>
  <div class="dx-card-header dx-theme-border-color">
    <div class="dx-card-title">{{ getWindowTitle(card.id) }}</div>
    <div class="dx-card-actions">
      <dx-button icon="preferences" stylingMode="text" (onClick)="onSettings(card.id)"></dx-button>
      <dx-button icon="trash" stylingMode="text" (onClick)="onRemoveCard(card.id)"></dx-button>
    </div>
  </div>

  <div class="dx-card-body">
    <dx-data-grid
      [dataSource]="card.dataSource"
      [showBorders]="true"
      [columns]="card.columns"
      [columnAutoWidth]="true"
      [paging]="{ enabled: true, pageSize: 5 }"
      [pager]="{ showPageSizeSelector: false, showInfo: true, visible: true }"
      [searchPanel]="{ visible: true, highlightCaseSensitive: true }"
    ></dx-data-grid>
  </div>
</div>

<dx-popup
  [visible]="savePopupVisible"
  [showTitle]="true"
  title="Save Page Settings"
  [showCloseButton]="true"
  width="450"
  height="700"
  [position]="{ at: 'top', my: 'top' }"
  [dragEnabled]="true"
  (onHiding)="savePopupVisible = false"
>
  <dx-form
    [formData]="saveFormData"
    labelLocation="top"
  >
    <dxi-item dataField="pageName" editorType="dxTextBox" [label]="{ text: 'Page Name' }"></dxi-item>

    <dxi-item
      dataField="pageAccessType"
      editorType="dxSelectBox"
      [label]="{ text: 'Page Access Type' }"
      [editorOptions]="{
        dataSource: accessTypes
      }"
    ></dxi-item>

    <dxi-item dataField="refreshRate" editorType="dxNumberBox" [label]="{ text: 'Refresh Rate (sec)' }"></dxi-item>

    <dxi-item
      dataField="hierarchyLevel"
      editorType="dxSelectBox"
      [label]="{ text: 'Hierarchy Level' }"
      [editorOptions]="{
        dataSource: hierarchyLevels,
        value: 'Enterprise',
      }"
    ></dxi-item>

    <ng-container>
      <dxi-item dataField="enterprise" editorType="dxSelectBox" [label]="{ text: 'Enterprise' }"
        [editorOptions]="{ 
          dataSource: enterpriseName,
          valueExpr: 'HierarchyID',
          displayExpr: 'EnterPriseName',
          onValueChanged: SelectedEnterprise
        }"></dxi-item>
    </ng-container>

    <ng-container>
      <dxi-item dataField="site" editorType="dxSelectBox" [label]="{ text: 'Site' }"
        [editorOptions]="{ 
          dataSource: siteName,
          valueExpr: 'SiteId',
          displayExpr: 'SiteName',
          onValueChanged: SelectedSite
        }"></dxi-item>
    </ng-container>

    <ng-container>
      <dxi-item dataField="plant" editorType="dxSelectBox" [label]="{ text: 'Plant' }"
        [editorOptions]="{ 
          dataSource: plantName,
          valueExpr: 'PlantID',
          displayExpr: 'PlantName',
          onValueChanged: SelectedPlant
        }"></dxi-item>
    </ng-container>

    <ng-container>
      <dxi-item dataField="area" editorType="dxSelectBox" [label]="{ text: 'Area' }"
        [editorOptions]="{ 
          dataSource: areaName,
          valueExpr: 'AreaID',
          displayExpr: 'AreaName',
          onValueChanged: SelectedArea
        }"></dxi-item>
    </ng-container>

    <ng-container>
      <dxi-item dataField="unit" editorType="dxSelectBox" [label]="{ text: 'Unit' }"
        [editorOptions]="{ 
          dataSource: unitName,
          valueExpr: 'UnitID',
          displayExpr: 'UnitName',
        }"></dxi-item>
    </ng-container>
  </dx-form>

  <div class="popup-actions">
    <dx-button text="Save" type="default" stylingMode="contained" (onClick)="onSettingsSaved()"></dx-button>
    <dx-button text="Cancel" stylingMode="text" (onClick)="savePopupVisible = false"></dx-button>
  </div>
</dx-popup>

<dx-popup
  [visible]="popupVisible"
  [showTitle]="true"
  title="Control Settings"
  [showCloseButton]="true"
  width="60%"
  height="auto"
  [dragEnabled]="true"
  [position]="{ at: 'top', my: 'top' }"
  (onHiding)="closePopup()"
>
  <div *ngIf="selectedCardId" class="popup-scroll-container">
    <dx-form
      [formData]="cardSettings"
      [colCount]="2"
      labelLocation="top"
    >
      <dxi-item dataField="windowTitle" editorType="dxTextBox" [label]="{ text: 'Window Title' }"></dxi-item>

      <dxi-item
        dataField="server"
        editorType="dxSelectBox"
        [label]="{ text: 'Server' }"
        [editorOptions]="{
          dataSource: servers,
          value: cardSettings.server,
          displayExpr: 'name',
          valueExpr: 'id'
        }"
        (onValueChanged)="onServerChange($event)"
      ></dxi-item>

      <dxi-item
        dataField="eventsAtStartup"
        editorType="dxNumberBox"
        [label]="{ text: 'No Of Events At Startup' }"
      ></dxi-item>

      <dxi-item
        dataField="maxEvents"
        editorType="dxNumberBox"
        [label]="{ text: 'Max Events To Display' }"
      ></dxi-item>

      <dxi-item itemType="simple" [colSpan]="1">
        <ng-template dxTemplate="content">
          <span>Add Conditions</span>
          <dx-filter-builder
            [(value)]="filterValue"
            [fields]="filterFields"
            [allowHierarchicalFields]="true"
            [groupOperations]="['and', 'or']"
            (onEditorPreparing)="onEditorPreparing($event)">
          </dx-filter-builder>
        </ng-template>
      </dxi-item>
    
      <dxi-item [colSpan]="1">
        <ng-template dxTemplate="template" let-data="data">
          <div class="results">
            <b>Final Query</b>
            <pre>{{ cardSettings.fields }}</pre>
          </div>
        </ng-template>
      </dxi-item>
    
      <dxi-item itemType="simple" [colSpan]="1">
        <ng-template dxTemplate="content">
          <span>Available Fields</span>
          <dx-list [dataSource]="displayFields" keyExpr="id" height="400">
            <dxo-item-dragging
              group="tasks"
              [data]="displayFields"
              [allowReordering]="true"
              [onDragStart]="onDragStart"
              [onAdd]="onAdd"
              [onRemove]="onRemove"
              [onReorder]="onReorder">
            </dxo-item-dragging>
          </dx-list>
        </ng-template>
      </dxi-item>
    
      <dxi-item itemType="simple" [colSpan]="1">
        <ng-template dxTemplate="content">
          <span>Selected Fields</span>
          <dx-list [dataSource]="defaultFields" keyExpr="id" height="400">
            <dxo-item-dragging
              group="tasks"
              [data]="defaultFields"
              [allowReordering]="true"
              [onDragStart]="onDragStart"
              [onAdd]="onAdd"
              [onRemove]="onRemove"
              [onReorder]="onReorder">
            </dxo-item-dragging>
          </dx-list>
        </ng-template>
      </dxi-item>
    </dx-form>

    <div class="popup-actions">
      <dx-button text="Save" type="default" stylingMode="contained" (onClick)="onPopupSaved()"></dx-button>
      <dx-button text="Cancel" stylingMode="text" (onClick)="closePopup()"></dx-button>
    </div>
  </div>
</dx-popup>

