<dx-toolbar [items]="headertoolbar" id="header-toolbar" class="header-toolbar"></dx-toolbar>

<div
  class="dx-card dx-theme-background-color dx-theme-text-color dx-theme-border-color resizable-card"
  *ngFor="let card of cards"
>
  <div class="dx-card-header dx-theme-border-color">
    <div class="dx-card-title">{{ getWindowTitle(card.id) }}</div>
    <div class="dx-card-actions">
      <dx-button icon="preferences" stylingMode="text" (onClick)="onSettings(card.id)"></dx-button>
      <dx-button icon="trash" stylingMode="text" (onClick)="onRemoveCard(card.id)"></dx-button>
    </div>
  </div>

  <div class="dx-card-body">
    <dx-data-grid
      [dataSource]="card.dataSource"
      [showBorders]="true"
      [columns]="card.columns"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      [paging]="{ enabled: true, pageSize: 10 }"
      [scrolling]="{
        rowRenderingMode: 'virtual',
      }"
      [pager]="{ showPageSizeSelector: true, showInfo: true, visible: true, allowedPageSizes: [10, 20, 50, 'all']}"
      [searchPanel]="{ visible: true, highlightCaseSensitive: false }"
    ></dx-data-grid>
  </div>
</div>
