.dx-card {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid;
  }
  
  .dx-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
  }
  
  .dx-card-actions dx-button {
    margin-left: 8px;
  } 
    
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  dx-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
}

.popup-row {
  display: flex;
  gap: 20px;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.no-cards {
  color: #888;
  font-size: 16px;
  font-style: italic;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}