<span>Quick Access Pages</span>

<dx-data-grid
  [dataSource]="QuickAccessList"
  [showBorders]="true"
  [paging]="{ pageSize: 5 }"
  [pager]="{
    showPageSizeSelector: true,
    allowedPageSizes: [5, 10, 20],
    showInfo: true,
    visible: true
  }"
  [searchPanel]="{
    visible: true,
    width: 240,
    placeholder: 'Search...'
  }"
  [editing]="{
    mode: 'row',
    allowDeleting: true,
    useIcons: true
  }"
  (onRowRemoving)="onRowRemoving($event)"
>
  <dxi-column dataField="PageName" caption="Page Name" cellTemplate="pageNameTemplate"></dxi-column>
  <dxi-column dataField="PageType" caption="Page Type"></dxi-column>
  <dxi-column dataField="QucikPageId" caption="Quick Page Id" [visible]="false"></dxi-column>

  <div *dxTemplate="let cell of 'pageNameTemplate'">
    <a (click)="navigateToPage(cell.data)">
      {{ cell.text }}
    </a>
  </div>
</dx-data-grid>
